* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #222ba5;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 5px;
}

label {
  margin-bottom: 5px;
}

.form-title-text {
  margin-right: 5px;
}
