* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #222ba5;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 5px;
}

label {
  margin-bottom: 5px;
}

.form-title-text {
  margin-right: 5px;
}

.form-field {
  width: 100%;
  border-radius: 2px;
}

.form-submit-container {
  text-align: center;
}
.form-submit-container button {
  border: 0;
  background: white;
  color: darkblue;
  padding: 5px 10px;
  border-radius: 5px;
}

.form-submit-container button:hover {
  cursor: pointer;
  background: #5db317;
  color: white;
}

/* Results Component */
.results {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 10px;
}

.results--single-pet {
  text-align: center;
}
