* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #222ba5;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

/* header */
header a {
  text-decoration: none;
  color: #fff;
}

h1 {
  text-align: center;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 5px;
}

label {
  margin-bottom: 5px;
}

.form-title-text {
  margin-right: 5px;
}

.form-field {
  width: 100%;
  border-radius: 2px;
}

.form-submit-container {
  text-align: center;
}
.form-submit-container button {
  border: 0;
  background: white;
  color: darkblue;
  padding: 5px 10px;
  border-radius: 5px;
}

.form-submit-container button:hover {
  cursor: pointer;
  background: #5db317;
  color: white;
}

/* Results Component */
.results {
  max-width: 80%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.results--not-found {
  margin: 0 auto;
}

.results--single-pet {
  text-align: center;
  width: 33.33%;
  padding: 10px 5px;
}

@media screen and (min-width: 1200px) {
  .results--single-pet {
    width: 25%;
  }
}

@media screen and (max-width: 650px) {
  .results--single-pet {
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .results--single-pet {
    width: 100%;
  }
}
